*{
    font-family: 'Roboto', sans-serif;
}

.card-design{
    border: 1px solid;
   margin-left: 60rem;
   margin-right: 60rem;
   margin-top: 6rem;
   border-radius: 1rem;
   border-color:white;
   box-shadow: 20rem 20rem 20rem 50rem whitesmoke;
}
.back-color{

    background-color: rgb(83, 0, 83);
    border-radius: 0.80rem;
    padding-bottom: rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;


}


.image-border-radius{
    border-radius:100% ;
    padding-left: 8rem;
    padding-right: 9rem;
    padding-top: 2rem;

}

h1{
    color: white;
    font-size: 2rem;
padding-left: 8rem;
}


.comma{
color: white;
padding-left:9rem;
line-height: 0.2rem;
font-weight: bold;


}

.tony{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0.85rem;
    border-bottom-right-radius: 0.85rem;
    box-shadow: 20rem 20rem 20rem 20rem white inset;

}

.listing{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    padding-left: 6rem;
    padding-top: 2rem;
}